/* Payment.css */

/* Navbar */
/* .header {
  background-color: #001529;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left, .menu-right {
  display: flex;
}

.menu-right .icon {
  font-size: 24px;
  color: #fff;
  margin-left: 15px;
} */

/* Banner */
.banner {
  text-align: center;
  padding: 40px 0;
  background-color: #f0f2f5;
}

/* Content */
.payment-content {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.payment-form {
  max-width: 400px;
  margin-right: 50px;
}

.cart-summary {
  width: 300px;
}

.cart-item {
  text-align: right; /* จัดแนวข้อความให้ชิดขวา */
  margin: 5px 0; /* เพิ่มระยะห่างระหว่างรายการ */
}

.cart-summary {
  text-align: right; /* จัดแนวข้อความให้ชิดขวา */
  margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
}

.footer-section {
  text-align: left; /* ยังคงจัดแนวข้อความในฟุตเตอร์เป็นด้านซ้าย */
}

.img-payment {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.img-payment img {
  max-width: 200px; /* ปรับขนาดภาพ */
  width: 100%; /* ปรับให้ภาพ responsive */
  height: auto; /* รักษาอัตราส่วนของภาพ */
  border: 1px solid #ddd; /* เพิ่มกรอบ (ถ้าต้องการ) */
  border-radius: 5px; /* มุมมน */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงา (ถ้าต้องการ) */
}