/* Navbar */
/* .header {
  background-color: #001529;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
} */

/* .header .menu-left {
  flex: 1;
}

.header .menu-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.header .menu-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
} */

/* Main Section */
.details-container {
  padding: 40px;
}

.small-image {
  width: 100%;
  margin-bottom: 10px;
}

.medium-image {
  width: 100%;
  height: auto;
}

/* Size and Quantity Section */
.size-section {
  margin-top: 20px;
}

.quantity-section {
  margin-top: 20px;
}

.quantity-section button {
  margin: 0 10px;
}

.add-to-cart-btn {
  margin-top: 20px;
  width: 50%; /* ทำให้ปุ่ม Add to Cart ขยายเต็มความกว้างของ container */
}

/* Footer */
/* .footer {
  background-color: #001529;
  color: #fff;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
}

.footer-section h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-section p {
  color: #aaa;
  font-size: 1rem;
}

.footer-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-menu li {
  margin: 8px 0;
  width: 50%; 
  text-align: center;
}

.footer-menu li a {
  color: #fff;
  text-decoration: none;
}

.footer-menu li a:hover {
  text-decoration: underline;
}

.contact-info {
  color: #aaa;
} */

