
/* Filter and Sorting Bar */
.filter-sort-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f2f5;
  }
  
  /* Pagination */
  .ant-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Product Card */
  .product-card {
    margin-bottom: 20px;
  }
  
  
  /* Footer (ใช้ร่วมกับ Home) */
  /* .footer {
    background-color: #001529;
    color: #fff;
    padding: 50px 20px;
    position: relative;
  }
  
  .footer-divider {
    border-top: 2px solid #555;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .footer-section {
    margin-top: 20px;
  }
  
  .footer-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-menu li {
    margin: 8px 0;
    width: 50%;
  }
  
  .footer-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-menu li a:hover {
    text-decoration: underline;
  }
  
  .contact-info {
    color: #aaa;
  }
   */

.banner-b {
position: relative;  /* ใช้สำหรับการวางข้อความบนรูปภาพ */
width: 100%;
height: 400px; /* คุณสามารถปรับความสูงได้ตามต้องการ */
overflow: hidden; /* ซ่อนส่วนที่เกินออกจาก Banner */
}

.banner-b-image {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* ปรับรูปภาพให้ครอบคลุมพื้นที่ทั้งหมด */
  opacity: 0.5;  /* ทำให้รูปภาพจางลง */
  border-radius: 8px; 
}

/* สไตล์สำหรับข้อความที่อยู่บน Banner */
.banner-text {
  position: absolute;
  top: 50%;  /* จัดข้อความให้อยู่ตรงกลางแนวตั้ง */
  left: 50%;  /* จัดข้อความให้อยู่ตรงกลางแนวนอน */
  transform: translate(-50%, -50%); /* ทำให้ข้อความอยู่กึ่งกลางอย่างสมบูรณ์ */
  color: rgb(0, 0, 0);  /* สีตัวอักษรเป็นสีขาว */
  text-align: center;  /* จัดข้อความให้อยู่ตรงกลาง */
}

.banner-text h1 {
  font-size: 3em; /* ขนาดของตัวอักษร H1 */
  margin: 0;
}

.banner-text p {
  font-size: 1.5em; /* ขนาดของข้อความย่อหน้า */
  margin: 10px 0 0 0;
}


/* Product Wrapper */
.product-wrapper {
    position: relative;
  }
  
  /* Discount Badge */
  .discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
  }
  
  /* Filter and Sorting Bar */
  .filter-sort-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #F9F1E7;
  }
  
  /* Pagination */
  .ant-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .ant-pagination-item:hover {
    background-color: #caddee; /* สีพื้นหลังเมื่อ hover */
    border-color: #caddee;
  }
  
  /* Product Card */
  .product-card {
    margin-bottom: 20px;
  }
  
  .highlight-now {
    color: red;
    font-weight: bold;
  }